* {
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
*:visited {
  color: blue;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.active {
  border-bottom: 4px solid blue;
}
section#main .wrapper .box,
section#search-header .box {
  width: 33.4em;
  font-family: sans-serif;
  border: .9px solid #ccc;
  border-radius: 4px;
}
section#main .wrapper h1 {
  margin-bottom: 1.6em;
}
section#main .wrapper .box input[type="text"],
section#search-header .box input[type="text"] {
  outline: none;
  padding: .7em .7em;
  width: 40rem;
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
}
section#search-header h1 span,
section#main .wrapper center h1 span {
  font-family: 'Metal Mania', sans-serif;
}
section#main .wrapper center h1 span {
  display: inline-block;
  font-size: 2.3em;
  margin-top: 1.82em;
  letter-spacing: .1em;
}
section#main {
  margin-bottom: 14.67em;
}
section#search-header .box {
  width: 40em;
}
section#search-header h1 {
  margin-right: 1em;
  font-size: 2.2em;
}
section#search-header {
  background: #f9f9f9;
  padding: 1em 3em;
  display: flex;
}
section#main-contents {
  margin: 0em 8em auto;
  padding: 2em;
}
section#main-contents p {
  color: #727272;
  width: 55em;
  margin: .3em 0em;
}
section#main-contents a small {
  display: inline-block;
  background: #727272;
  padding: 4px;
  border-radius: 3px;
  margin: 5px 0px;
  margin-right: 8px;
}
section#main-contents small:hover,
section#search-header a button.opt-button:hover {
  background-color: #34495e;
}
section#main-contents a small {
  color: #fff;
}
section#main-contents .list-content {
  margin-top: 1em;
}
section#search-header a button.opt-button {
  outline: none;
  background: #727272;
  border: none;
  color: #fff;
  padding: 1em;
  padding-bottom: 1.2em;
  margin-left: 1em;
  border-radius: 4px;
  cursor: pointer;
}
section#details .wrapper .column-details {
  display: flex;
}
section#details .wrapper .item-cover-image img {
  border: 5px solid grey;
  width: 340px;
  height: 480px;
  border-radius: 4px;
}
section#details .wrapper h3.breadcrumbs {
  margin-bottom: 2em;
  text-align: center;
}
section#details .wrapper h3.breadcrumbs a:hover {
  text-decoration: underline;
}
section#details .wrapper {
  padding: 2em 3em;
  border: 5px solid #34495e;
  margin: 2em 5em;
  border-radius: 4px;
}
section#details .wrapper .item-details table {
  width: 100%;
}
section#details .wrapper .item-details table th,
section#details .wrapper .item-details table td {
  padding: .5em 1em;
  padding-left: 2em;
  font-family: 'Open Sans', sans-serif;
}
section#details table td a:hover {
  text-decoration: underline;
}
section#details .wrapper .item-details table th {
  font-weight: bolder;
}
section#nav {
  background-color: #f9f9f9;
}
section#nav ul {
  display: flex;
  margin: 0em 10em;
}
section#nav ul li{
  padding: .9em 1.4em;
}
section#nav ul li a {
  color: grey;
  padding-bottom: .7em;
}
section#nav ul li:first-child {
  padding-left: 0;
}
footer {
  padding: 1em 4em;;
  color: #fff;
  background-color: #34495e;
}
footer#footer .footer-content ul li {
  margin-top: .2em;
}
footer#footer .footer-content ul li a {
  color: #ccc;
}
footer#footer .footer-content ul li a:hover {
  color: #fff;
}
footer#footer .footer-content {
  display: flex;
  justify-content: space-between;
}
